<%- include("../partials/head.ejs",{title:title}) %>
<%- include("../partials/nav.ejs") %>
<div class="container mt-5">
    <h1 class="text-center mb-5">Featured Cars</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <img src="/images/img1.jpg" class="card-img-top" alt="Porsche 2019">
                <div class="card-body">
                    <h5 class="card-title">Porsche 2019</h5>
                    <p class="card-text">A sleek and stylish car with unmatched performance.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <img src="/images/img2.jpg" class="card-img-top" alt="Porsche 2021">
                <div class="card-body">
                    <h5 class="card-title">Porsche 2021</h5>
                    <p class="card-text">Experience luxury and cutting-edge technology.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <img src="/images/img3.jpg" class="card-img-top" alt="Ferrari 2022">
                <div class="card-body">
                    <h5 class="card-title">Ferrari 2022</h5>
                    <p class="card-text">A masterpiece of speed and elegance.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer.ejs") %>